<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <img  style="width: 422px;height:422px;"" src="{%static "images/logo.jpg" %}" alt="">
    <br>
    <img style="width: 1200px;height:600px;"src="{%static "images/pic2.jpg" %}" alt="">
    <br>
    <img style="width: 1200px;height:600px;"src="{%static "images/pic1.webp" %}" alt="">
    
    
</body>
</html>